*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
}
h1{
    text-align: center;
    font-size:80px;
    color:brown;
    margin-bottom: 70px;
}
.but{
    display: flex;
    justify-content: center;
    gap:70px;
    

}
p{
    font-size: 70px;
    color:burlywood
}
.but button{
    background-color:darkgoldenrod;
    font-size:50px;
    color: white;
    border-radius: 90px;
    padding:15px;
    margin-bottom: 40px;
    border: none;
}
 button{
    background-color:crimson;
 }
 .reset{
    display: flex;
    justify-content: center;
 }
 .reset button{
    padding:15px;
    font-size:30px;
    border-radius: 10px;
    color: white;
    border: none;
 }
 .but button:hover{
    background-color:rgb(170, 170, 46) ;
 }
 .reset button:hover{
    background-color: rgb(177, 52, 77);
 }
 .container{
    background-color:aqua;
 }